.elementor-19238 .elementor-element.elementor-element-4e632323 {
    margin-top: 0em;
    margin-bottom: 6.25em;
    padding: 0px 0px 0px 0px;
}

.elementor-19238 .elementor-element.elementor-element-f2581b8>.elementor-widget-wrap>.elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
    margin-bottom: 0px;
}

.elementor-19238 .elementor-element.elementor-element-f2581b8>.elementor-element-populated {
    margin: 0px 0px 0px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
    padding: 0px 0px 0px 0px;
}

.elementor-19238 .elementor-element.elementor-element-3102bb4 .iq-main-slider .slider-inner .video_view {
    display: block;
}

.elementor-19238 .elementor-element.elementor-element-7316c40f {
    overflow: hidden;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 0em 6.25em 0em 6.25em;
}

.elementor-19238 .elementor-element.elementor-element-539ec769>.elementor-widget-wrap>.elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
    margin-bottom: 0px;
}

.elementor-19238 .elementor-element.elementor-element-539ec769>.elementor-element-populated {
    margin: 0px 0px 0px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
    padding: 0px 0px 0px 0px;
}

.elementor-19238 .elementor-element.elementor-element-60fb48ce {
    overflow: hidden;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 0px 0px 0px 0px;
}

.elementor-19238 .elementor-element.elementor-element-78a0d2dc>.elementor-widget-wrap>.elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
    margin-bottom: 0px;
}

.elementor-19238 .elementor-element.elementor-element-78a0d2dc>.elementor-element-populated {
    margin: 0px 0px 0px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
    padding: 0px 0px 0px 0px;
}

.elementor-19238 .elementor-element.elementor-element-5b625c4c {
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 0em 6.25em 0em 6.25em;
}

.elementor-19238 .elementor-element.elementor-element-5c325f9b>.elementor-widget-wrap>.elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
    margin-bottom: 0px;
}

.elementor-19238 .elementor-element.elementor-element-5c325f9b>.elementor-element-populated {
    margin: 0px 0px 0px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
    padding: 0px 0px 0px 0px;
}

.elementor-19238 .elementor-element.elementor-element-2fae63a5>.elementor-widget-container {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

.elementor-19238 .elementor-element.elementor-element-3e7a5046 {
    overflow: hidden;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 6.25em 6.25em 0em 6.25em;
}

.elementor-19238 .elementor-element.elementor-element-5cbdb3da>.elementor-widget-wrap>.elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
    margin-bottom: 0px;
}

.elementor-19238 .elementor-element.elementor-element-5cbdb3da>.elementor-element-populated {
    margin: 0px 0px 0px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
    padding: 0px 0px 0px 0px;
}

.elementor-19238 .elementor-element.elementor-element-5d079655 {
    overflow: hidden;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 0px 0px 0px 0px;
}

.elementor-19238 .elementor-element.elementor-element-55a0625b>.elementor-widget-wrap>.elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
    margin-bottom: 0px;
}

.elementor-19238 .elementor-element.elementor-element-55a0625b>.elementor-element-populated {
    margin: 0px 0px 0px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
    padding: 0px 0px 0px 0px;
}

.elementor-19238 .elementor-element.elementor-element-4b4f1c22:not(.elementor-motion-effects-element-type-background),
.elementor-19238 .elementor-element.elementor-element-4b4f1c22>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-image: url("https://wordpress.iqonic.design/product/wp/streamit/wp-content/uploads/2023/10/Movieof-the-year.webp");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.elementor-19238 .elementor-element.elementor-element-4b4f1c22>.elementor-background-overlay {
    background-color: #000000;
    opacity: 0.8;
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-19238 .elementor-element.elementor-element-4b4f1c22 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 6.25em 5.313em 6.25em 5.313em;
}

.elementor-bc-flex-widget .elementor-19238 .elementor-element.elementor-element-6d4133e7.elementor-column .elementor-widget-wrap {
    align-items: center;
}

.elementor-19238 .elementor-element.elementor-element-6d4133e7.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
    align-content: center;
    align-items: center;
}

.elementor-19238 .elementor-element.elementor-element-6d4133e7>.elementor-widget-wrap>.elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
    margin-bottom: 0px;
}

.elementor-19238 .elementor-element.elementor-element-6d4133e7>.elementor-element-populated {
    margin: 0px 0px 0px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
    padding: 0px 15px 0px 015px;
}

.elementor-19238 .elementor-element.elementor-element-2808a5c5 .iq-title-box .iq-title {
    font-size: 5em;
    font-weight: 800;
    text-transform: uppercase;
    font-style: italic;
    line-height: 1em;
}

.elementor-19238 .elementor-element.elementor-element-69641374>.elementor-widget-container {
    margin: 0px 0px 0px 0px;
    padding: 0em 0em 2em 0em;
}

.elementor-19238 .elementor-element.elementor-element-47e31a48 .iq-title-box .iq-title {
    font-family: var( --e-global-typography-primary-font-family), Sans-serif;
    font-weight: var( --e-global-typography-primary-font-weight);
}

.elementor-19238 .elementor-element.elementor-element-47e31a48 .iq-title-box .iq-title-desc {
    color: #D1D0CF;
}

.elementor-19238 .elementor-element.elementor-element-47e31a48>.elementor-widget-container {
    margin: 0px 0px 0px 0px;
    padding: 0em 0em 02em 0em;
}

.elementor-19238 .elementor-element.elementor-element-1e0c69f3 {
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 0px 0px 0px 0px;
}

.elementor-19238 .elementor-element.elementor-element-7f976196>.elementor-widget-wrap>.elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
    margin-bottom: 0px;
}

.elementor-19238 .elementor-element.elementor-element-7f976196>.elementor-element-populated {
    margin: 0px 0px 0px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
    padding: 0px 0px 0px 0px;
}

.elementor-19238 .elementor-element.elementor-element-a27787b .iq-button.has-icon.btn-icon-left i {
    margin-right: 10px;
}

.elementor-bc-flex-widget .elementor-19238 .elementor-element.elementor-element-7775b2b5.elementor-column .elementor-widget-wrap {
    align-items: center;
}

.elementor-19238 .elementor-element.elementor-element-7775b2b5.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
    align-content: center;
    align-items: center;
}

.elementor-19238 .elementor-element.elementor-element-7775b2b5>.elementor-widget-wrap>.elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
    margin-bottom: 0px;
}

.elementor-19238 .elementor-element.elementor-element-7775b2b5>.elementor-element-populated {
    margin: 0px 0px 0px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
    padding: 0px 015px 0px 015px;
}

.elementor-19238 .elementor-element.elementor-element-43c9ace3 {
    text-align: center;
}

.elementor-19238 .elementor-element.elementor-element-43c9ace3 img {
    width: 100%;
}

.elementor-19238 .elementor-element.elementor-element-43c9ace3>.elementor-widget-container {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

.elementor-19238 .elementor-element.elementor-element-b29e1ff {
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 6.25em 6.25em 0em 6.25em;
}

.elementor-19238 .elementor-element.elementor-element-5e9a5713>.elementor-widget-wrap>.elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
    margin-bottom: 0px;
}

.elementor-19238 .elementor-element.elementor-element-5e9a5713>.elementor-element-populated {
    margin: 0px 0px 0px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
    padding: 0px 0px 0px 0px;
}

.elementor-19238 .elementor-element.elementor-element-d76e8d8 .iq-tvshow-tabs .channel-logo {
    display: block;
}

.elementor-19238 .elementor-element.elementor-element-d76e8d8 .iq-tvshow-tabs .text-primary.title.starring {
    display: block;
}

.elementor-19238 .elementor-element.elementor-element-d76e8d8 .iq-tvshow-tabs .text-primary.title.genres {
    display: block;
}

.elementor-19238 .elementor-element.elementor-element-d76e8d8 .iq-tvshow-tabs .text-primary.title.tag {
    display: block;
}

.elementor-19238 .elementor-element.elementor-element-294cad51 {
    overflow: hidden;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 6.25em 6.25em 0em 6.25em;
}

.elementor-19238 .elementor-element.elementor-element-64f34a21>.elementor-widget-wrap>.elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
    margin-bottom: 0px;
}

.elementor-19238 .elementor-element.elementor-element-64f34a21>.elementor-element-populated {
    margin: 0px 0px 0px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
    padding: 0px 0px 0px 0px;
}

@media(max-width:1024px) and (min-width:768px) {
    .elementor-19238 .elementor-element.elementor-element-6d4133e7 {
        width: 100%;
    }
    .elementor-19238 .elementor-element.elementor-element-7775b2b5 {
        width: 100%;
    }
}

@media(max-width:1024px) {
    .elementor-19238 .elementor-element.elementor-element-4e632323 {
        margin-top: 0em;
        margin-bottom: 3.125em;
    }
    .elementor-19238 .elementor-element.elementor-element-7316c40f {
        padding: 0em 0.938em 0em 0.938em;
    }
    .elementor-19238 .elementor-element.elementor-element-5b625c4c {
        padding: 0em 0.938em 0em 0.938em;
    }
    .elementor-19238 .elementor-element.elementor-element-3e7a5046 {
        padding: 50px 15px 0px 15px;
    }
    .elementor-19238 .elementor-element.elementor-element-4b4f1c22 {
        padding: 3.125em 0.938em 0em 0.938em;
    }
    .elementor-19238 .elementor-element.elementor-element-6d4133e7>.elementor-widget-wrap>.elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
        margin-bottom: 0px;
    }
    .elementor-19238 .elementor-element.elementor-element-6d4133e7>.elementor-element-populated {
        padding: 0px 0px 0px 0px;
    }
    .elementor-19238 .elementor-element.elementor-element-7775b2b5>.elementor-element-populated {
        padding: 30px 0px 30px 0px;
    }
    .elementor-19238 .elementor-element.elementor-element-b29e1ff {
        padding: 3.125em 0.938em 0em 0.938em;
    }
    .elementor-19238 .elementor-element.elementor-element-5e9a5713>.elementor-element-populated {
        padding: 0px 0px 0px 0px;
    }
    .elementor-19238 .elementor-element.elementor-element-294cad51 {
        padding: 3.125em 0.938em 0em 0.938em;
    }
}

@media(max-width:767px) {
    .elementor-19238 .elementor-element.elementor-element-4e632323 {
        margin-top: 0em;
        margin-bottom: 1.875em;
    }
    .elementor-19238 .elementor-element.elementor-element-7316c40f {
        padding: 0em 0.938em 0em 0.938em;
    }
    .elementor-19238 .elementor-element.elementor-element-539ec769>.elementor-widget-wrap>.elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
        margin-bottom: 0px;
    }
    .elementor-19238 .elementor-element.elementor-element-5b625c4c {
        margin-top: 0em;
        margin-bottom: 0em;
    }
    .elementor-19238 .elementor-element.elementor-element-3e7a5046 {
        padding: 1.875em 0.938em 0em 0.938em;
    }
    .elementor-19238 .elementor-element.elementor-element-4b4f1c22 {
        margin-top: 0em;
        margin-bottom: 0em;
        padding: 1.875em 0.938em 0em 0.938em;
    }
    .elementor-19238 .elementor-element.elementor-element-2808a5c5 .iq-title-box .iq-title {
        font-size: 2em;
        line-height: 32px;
    }
    .elementor-19238 .elementor-element.elementor-element-b29e1ff {
        padding: 1.875em 0.938em 0em 0.938em;
    }
    .elementor-19238 .elementor-element.elementor-element-294cad51 {
        padding: 30px 15px 0px 15px;
    }
}

@media(min-width:1025px) {
    .elementor-19238 .elementor-element.elementor-element-4b4f1c22:not(.elementor-motion-effects-element-type-background),
    .elementor-19238 .elementor-element.elementor-element-4b4f1c22>.elementor-motion-effects-container>.elementor-motion-effects-layer {
        background-attachment: fixed;
    }
}